body {
    background-color: beige;
    display: flex;
    justify-content: center;
}

#container {
    width: 350px;
    background-color: #11097c;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

#imagem1 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    
}

#rodape {
    margin: 20px;
}

a {
    padding: 8px;
}
