body {
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    width: 350px;
    background-color: #11097c;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    
}

#imagem1 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    
}

#rodape {
    margin: 20px;
}


h1, h2, p {
    color: white;
}

.btn {
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    transition: backgroung 0.2s;

}



